<a href="https://colab.research.google.com/github/rahimovfiruz/homelander/blob/main/Stock_Market_Data_Retrieval_from_Yahoo_Finance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import yfinance as yf
import pandas as pd

# Read and print the stock tickers that make up 50 Software Application Companies
tickerStrings = ['MSFT',	'ORCL',	'ADBE',	'PANW',	'VMW',	'SNPS',	'FTNT',	'CRWD',	'PLTR',	'SQ',	'SPLK',	'ZS',	'VRSN',	'NET',	'FLT',	'AKAM',	'CHKP',	'OKTA',	'IOT',	'GDDY',	'GEN',	'DOX',	'DBX', 'TOST', 'NTNX',	'FFIV',	'CFLT',	'PATH',	'HOOD',	'WEX',	'CCCS',	'CYBR',	'SPSC',	'INFA',	'QLYS',	'AFRM',	'ALTR',	'DLO',	'S',	'TENB',	'RELY',	'WIX',	'TDC', 'FOUR',	'HCP',	'SQSP',	'EEFT',	'BOX',	'ESMT',	'VRNS']
for ticker in tickerStrings:
    data = yf.download(ticker, group_by="Ticker", period='5y', interval='1d')
    data['ticker'] = ticker  # add this column because the dataframe doesn't contain a column with the ticker
    data.to_csv(f'ticker_{ticker}.csv')  # ticker_AAPL.csv for example

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [18]:
import pandas as pd
from pathlib import Path

# set the path to the files
p = Path('/content')

# find the files; this is a generator, not a list
files = p.glob('ticker_*.csv')

# read the files into a dataframe
df1 = pd.concat([pd.read_csv(file) for file in files], ignore_index=True)
df1

,Date,Open,High,Low,Close,Adj Close,Volume,ticker
0,2018-10-15,108.910004,109.480003,106.949997,107.599998,101.943634,32068100,MSFT
1,2018-10-16,109.540001,111.410004,108.949997,111.000000,105.164909,31610200,MSFT
2,2018-10-17,111.680000,111.809998,109.550003,110.709999,104.890129,26548200,MSFT
3,2018-10-18,110.099998,110.529999,107.830002,108.500000,102.796303,32506200,MSFT
4,2018-10-19,108.930000,110.860001,108.209999,108.660004,102.947922,32785500,MSFT
...,...,...,...,...,...,...,...,...
51956,2023-10-09,25.190001,25.818001,25.030001,25.580000,25.580000,1356100,IOT
51957,2023-10-10,25.500000,26.240000,24.920000,25.040001,25.040001,2846800,IOT
51958,2023-10-11,25.629999,26.090000,25.070000,25.430000,25.430000,1795500,IOT
51959,2023-10-12,25.480000,25.670000,24.334999,24.650000,24.650000,1648100,IOT
51960,2023-10-13,24.200001,24.518999,22.740000,23.459999,23.459999,2796700,IOT

In [19]:
import pandas as pd

df1.to_excel("output.xlsx")

In [21]:
tickers_data= {} # empty dictionary

In [22]:
for ticker in tickerStrings:
    ticker_object = yf.Ticker(ticker)

    #convert info() output from dictionary to dataframe
    temp = pd.DataFrame.from_dict(ticker_object.info, orient="index")
    temp.reset_index(inplace=True)
    temp.columns = ["Attribute", "Recent"]

    # add (ticker, dataframe) to main dictionary
    tickers_data[ticker] = temp

tickers_data

{'MSFT':              Attribute             Recent
 0             address1  One Microsoft Way
 1                 city            Redmond
 2                state                 WA
 3                  zip         98052-6399
 4              country      United States
 ..                 ...                ...
 126       grossMargins             0.6892
 127      ebitdaMargins            0.48143
 128   operatingMargins            0.41081
 129  financialCurrency                USD
 130   trailingPegRatio             2.4026

 [131 rows x 2 columns],
 'ORCL':              Attribute           Recent
 0             address1  2300 Oracle Way
 1                 city           Austin
 2                state               TX
 3                  zip            78741
 4              country    United States
 ..                 ...              ...
 126       grossMargins           0.7226
 127      ebitdaMargins           0.3868
 128   operatingMargins          0.27632
 129  financialCurrency              USD
 130   trailingPegRatio            1.248

 [131 rows x 2 columns],
 'ADBE':              Attribute           Recent
 0             address1  345 Park Avenue
 1                 city         San Jose
 2                state               CA
 3                  zip       95110-2704
 4              country    United States
 ..                 ...              ...
 127       grossMargins          0.87885
 128      ebitdaMargins          0.37271
 129   operatingMargins          0.34703
 130  financialCurrency              USD
 131   trailingPegRatio            2.037

 [132 rows x 2 columns],
 'PANW':              Attribute            Recent
 0             address1  3000 Tannery Way
 1                 city       Santa Clara
 2                state                CA
 3                  zip             95054
 4              country     United States
 ..                 ...               ...
 121       grossMargins           0.72294
 122      ebitdaMargins            0.0856
 123   operatingMargins           0.12978
 124  financialCurrency               USD
 125   trailingPegRatio            1.7326

 [126 rows x 2 columns],
 'VMW':              Attribute                Recent
 0             address1  3401 Hillview Avenue
 1                 city             Palo Alto
 2                state                    CA
 3                  zip                 94304
 4              country         United States
 ..                 ...                   ...
 123       grossMargins               0.81331
 124      ebitdaMargins               0.20505
 125   operatingMargins               0.17136
 126  financialCurrency                   USD
 127   trailingPegRatio                3.3893

 [128 rows x 2 columns],
 'SNPS':              Attribute                     Recent
 0             address1  690 East Middlefield Road
 1                 city              Mountain View
 2                state                         CA
 3                  zip                      94043
 4              country              United States
 ..                 ...                        ...
 122       grossMargins                    0.80139
 123      ebitdaMargins                    0.23484
 124   operatingMargins                    0.22111
 125  financialCurrency                        USD
 126   trailingPegRatio                     2.2151

 [127 rows x 2 columns],
 'FTNT':              Attribute          Recent
 0             address1  899 Kifer Road
 1                 city       Sunnyvale
 2                state              CA
 3                  zip           94086
 4              country   United States
 ..                 ...             ...
 121       grossMargins         0.76263
 122      ebitdaMargins          0.2566
 123   operatingMargins         0.23482
 124  financialCurrency             USD
 125   trailingPegRatio          1.8516

 [126 rows x 2 columns],
 'CRWD':              Attribute               Recent
 0             address1  206 East 9th Street
 1             address2           Suite 1400
 2                 city               Austin
 3                state                   TX
 4                  zip                78701
 ..                 ...                  ...
 117       grossMargins               0.7404
 118      ebitdaMargins             -0.02461
 119   operatingMargins             -0.05781
 120  financialCurrency                  USD
 121   trailingPegRatio               1.6026

 [122 rows x 2 columns],
 'PLTR':              Attribute            Recent
 0             address1  1200 17th Street
 1             address2          Floor 15
 2                 city            Denver
 3                state                CO
 4                  zip             80202
 ..                 ...               ...
 117       grossMargins           0.79146
 118      ebitdaMargins           -0.0175
 119   operatingMargins           0.01889
 120  financialCurrency               USD
 121   trailingPegRatio            1.1316

 [122 rows x 2 columns],
 'SQ':              Attribute              Recent
 0             address1  1455 Market Street
 1             address2           Suite 600
 2                 city       San Francisco
 3                state                  CA
 4                  zip               94103
 ..                 ...                 ...
 117       grossMargins             0.34947
 118      ebitdaMargins            -0.00054
 119   operatingMargins            -0.01919
 120  financialCurrency                 USD
 121   trailingPegRatio                1.37

 [122 rows x 2 columns],
 'SPLK':              Attribute              Recent
 0             address1  270 Brannan Street
 1                 city       San Francisco
 2                state                  CA
 3                  zip               94107
 4              country       United States
 ..                 ...                 ...
 114       grossMargins             0.78534
 115      ebitdaMargins             0.02794
 116   operatingMargins            -0.07525
 117  financialCurrency                 USD
 118   trailingPegRatio               1.202

 [119 rows x 2 columns],
 'ZS':              Attribute          Recent
 0             address1  120 Holger Way
 1                 city        San Jose
 2                state              CA
 3                  zip           95134
 4              country   United States
 ..                 ...             ...
 116       grossMargins         0.77631
 117      ebitdaMargins        -0.12105
 118   operatingMargins        -0.09734
 119  financialCurrency             USD
 120   trailingPegRatio          1.7224

 [121 rows x 2 columns],
 'VRSN':              Attribute              Recent
 0             address1  12061 Bluemont Way
 1                 city              Reston
 2                state                  VA
 3                  zip               20190
 4              country       United States
 ..                 ...                 ...
 122       grossMargins             0.86277
 123      ebitdaMargins             0.69627
 124   operatingMargins             0.66855
 125  financialCurrency                 USD
 126   trailingPegRatio              1.9619

 [127 rows x 2 columns],
 'NET':              Attribute               Recent
 0             address1  101 Townsend Street
 1                 city        San Francisco
 2                state                   CA
 3                  zip                94107
 4              country        United States
 ..                 ...                  ...
 116       grossMargins              0.75568
 117      ebitdaMargins             -0.08452
 118   operatingMargins               -0.174
 119  financialCurrency                  USD
 120   trailingPegRatio               1.9484

 [121 rows x 2 columns],
 'FLT':              Attribute               Recent
 0             address1  3280 Peachtree Road
 1             address2           Suite 2400
 2                 city              Atlanta
 3                state                   GA
 4                  zip                30305
 ..                 ...                  ...
 120       grossMargins               0.7752
 121      ebitdaMargins              0.50184
 122   operatingMargins              0.42643
 123  financialCurrency                  USD
 124   trailingPegRatio                 None

 [125 rows x 2 columns],
 'AKAM':              Attribute         Recent
 0             address1   145 Broadway
 1                 city      Cambridge
 2                state             MA
 3                  zip          02142
 4              country  United States
 ..                 ...            ...
 121       grossMargins        0.60838
 122      ebitdaMargins        0.29586
 123   operatingMargins        0.17257
 124  financialCurrency            USD
 125   trailingPegRatio          2.079

 [126 rows x 2 columns],
 'CHKP':              Attribute                  Recent
 0             address1  5 Shlomo Kaplan Street
 1                 city                Tel Aviv
 2                  zip                 6789159
 3              country                  Israel
 4                phone          972 3 753 4555
 ..                 ...                     ...
 114       grossMargins                 0.88085
 115      ebitdaMargins                 0.38929
 116   operatingMargins                 0.37815
 117  financialCurrency                     USD
 118   trailingPegRatio                  1.6052

 [119 rows x 2 columns],
 'OKTA':              Attribute            Recent
 0             address1  100 First Street
 1             address2         Suite 600
 2                 city     San Francisco
 3                state                CA
 4                  zip             94105
 ..                 ...               ...
 117       grossMargins           0.72542
 118      ebitdaMargins          -0.25666
 119   operatingMargins          -0.30315
 120  financialCurrency               USD
 121   trailingPegRatio            2.0019

 [122 rows x 2 columns],
 'IOT':              Attribute            Recent
 0             address1  1 De Haro Street
 1                 city     San Francisco
 2                state                CA
 3                  zip             94107
 4              country     United States
 ..                 ...               ...
 108       grossMargins           0.72421
 109      ebitdaMargins          -0.33231
 110   operatingMargins          -0.34495
 111  financialCurrency               USD
 112   trailingPegRatio              None

 [113 rows x 2 columns],
 'GDDY':              Attribute                 Recent
 0             address1  2155 East GoDaddy Way
 1                 city                  Tempe
 2                state                     AZ
 3                  zip                  85284
 4              country          United States
 ..                 ...                    ...
 116       grossMargins                0.63237
 117      ebitdaMargins                0.17134
 118   operatingMargins                0.12564
 119  financialCurrency                    USD
 120   trailingPegRatio                 1.1898

 [121 rows x 2 columns],
 'GEN':              Attribute                      Recent
 0             address1  60 East Rio Salado Parkway
 1             address2                  Suite 1000
 2                 city                       Tempe
 3                state                          AZ
 4                  zip                       85281
 ..                 ...                         ...
 127       grossMargins                     0.81381
 128      ebitdaMargins                     0.48253
 129   operatingMargins                     0.41627
 130  financialCurrency                         USD
 131   trailingPegRatio                      0.7146

 [132 rows x 2 columns],
 'DOX':              Attribute                      Recent
 0             address1  625 Maryville Centre Drive
 1             address2                   Suite 200
 2                 city                 Saint Louis
 3                state                          MO
 4                  zip                       63141
 ..                 ...                         ...
 120       grossMargins                     0.35411
 121      ebitdaMargins                     0.18903
 122   operatingMargins                     0.14783
 123  financialCurrency                         USD
 124   trailingPegRatio                      1.0091

 [125 rows x 2 columns],
 'DBX':              Attribute             Recent
 0             address1  1800 Owens Street
 1                 city      San Francisco
 2                state                 CA
 3                  zip              94158
 4              country      United States
 ..                 ...                ...
 116       grossMargins            0.81031
 117      ebitdaMargins            0.21486
 118   operatingMargins            0.15454
 119  financialCurrency                USD
 120   trailingPegRatio             1.4268

 [121 rows x 2 columns],
 'TOST':              Attribute          Recent
 0             address1  401 Park Drive
 1             address2       Suite 801
 2                 city          Boston
 3                state              MA
 4                  zip           02215
 ..                 ...             ...
 116       grossMargins         0.20976
 117      ebitdaMargins        -0.09946
 118   operatingMargins        -0.10307
 119  financialCurrency             USD
 120   trailingPegRatio            None

 [121 rows x 2 columns],
 'NTNX':              Attribute                 Recent
 0             address1  1740 Technology Drive
 1             address2              Suite 150
 2                 city               San Jose
 3                state                     CA
 4                  zip                  95110
 ..                 ...                    ...
 114       grossMargins                 0.8218
 115      ebitdaMargins               -0.07537
 116   operatingMargins               -0.11107
 117  financialCurrency                    USD
 118   trailingPegRatio                   None

 [119 rows x 2 columns],
 'FFIV':              Attribute          Recent
 0             address1  801 5th Avenue
 1                 city         Seattle
 2                state              WA
 3                  zip      98104-1663
 4              country   United States
 ..                 ...             ...
 123       grossMargins         0.78626
 124      ebitdaMargins         0.20815
 125   operatingMargins         0.22802
 126  financialCurrency             USD
 127   trailingPegRatio          0.9043

 [128 rows x 2 columns],
 'CFLT':              Attribute                  Recent
 0             address1  899 West Evelyn Avenue
 1                 city           Mountain View
 2                state                      CA
 3                  zip                   94041
 4              country           United States
 ..                 ...                     ...
 116       grossMargins                 0.67576
 117      ebitdaMargins                -0.69151
 118   operatingMargins                 -0.7075
 119  financialCurrency                     USD
 120   trailingPegRatio                    None

 [121 rows x 2 columns],
 'PATH':              Attribute          Recent
 0             address1  452 5th Avenue
 1             address2      22nd Floor
 2                 city        New York
 3                state              NY
 4                  zip           10018
 ..                 ...             ...
 117       grossMargins         0.84153
 118      ebitdaMargins        -0.17628
 119   operatingMargins        -0.19249
 120  financialCurrency             USD
 121   trailingPegRatio          0.8538

 [122 rows x 2 columns],
 'HOOD':              Attribute          Recent
 0             address1  85 Willow Road
 1                 city      Menlo Park
 2                state              CA
 3                  zip           94025
 4              country   United States
 ..                 ...             ...
 113       grossMargins         0.77818
 114      ebitdaMargins             0.0
 115   operatingMargins        -0.46643
 116  financialCurrency             USD
 117   trailingPegRatio            None

 [118 rows x 2 columns],
 'WEX':              Attribute            Recent
 0             address1  1 Hancock Street
 1                 city          Portland
 2                state                ME
 3                  zip             04101
 4              country     United States
 ..                 ...               ...
 119       grossMargins           0.73456
 120      ebitdaMargins           0.32986
 121   operatingMargins           0.25382
 122  financialCurrency               USD
 123   trailingPegRatio              None

 [124 rows x 2 columns],
 'CCCS':              Attribute               Recent
 0             address1  167 N. Green Street
 1             address2            9th Floor
 2                 city              Chicago
 3                state                   IL
 4                  zip                60607
 ..                 ...                  ...
 117       grossMargins              0.75508
 118      ebitdaMargins               0.1883
 119   operatingMargins              0.06062
 120  financialCurrency                  USD
 121   trailingPegRatio                 None

 [122 rows x 2 columns],
 'CYBR':              Attribute                   Recent
 0             address1        9 Hapsagot Street
 1             address2  Park Ofer B PO Box 3143
 2                 city              Petah Tikva
 3                  zip                  4951040
 4              country                   Israel
 ..                 ...                      ...
 111       grossMargins                  0.78459
 112      ebitdaMargins                 -0.20906
 113   operatingMargins                 -0.23524
 114  financialCurrency                      USD
 115   trailingPegRatio                     None

 [116 rows x 2 columns],
 'SPSC':              Attribute                    Recent
 0             address1  333 South Seventh Street
 1             address2                Suite 1000
 2                 city               Minneapolis
 3                state                        MN
 4                  zip                     55402
 ..                 ...                       ...
 123       grossMargins                   0.65978
 124      ebitdaMargins                   0.21211
 125   operatingMargins                   0.14706
 126  financialCurrency                       USD
 127   trailingPegRatio                      None

 [128 rows x 2 columns],
 'INFA':              Attribute                  Recent
 0             address1  2100 Seaport Boulevard
 1                 city            Redwood City
 2                state                      CA
 3                  zip                   94063
 4              country           United States
 ..                 ...                     ...
 116       grossMargins                 0.78987
 117      ebitdaMargins                 0.12378
 118   operatingMargins                 0.01579
 119  financialCurrency                     USD
 120   trailingPegRatio                    None

 [121 rows x 2 columns],
 'QLYS':              Attribute                        Recent
 0             address1  919 East Hillsdale Boulevard
 1             address2                     4th Floor
 2                 city                   Foster City
 3                state                            CA
 4                  zip                         94404
 ..                 ...                           ...
 121       grossMargins                       0.79524
 122      ebitdaMargins                       0.33099
 123   operatingMargins                       0.27088
 124  financialCurrency                           USD
 125   trailingPegRatio                        1.9172

 [126 rows x 2 columns],
 'AFRM':              Attribute                 Recent

In [23]:
combined_data = pd.concat(tickers_data)
combined_data = combined_data.reset_index()
combined_data

     level_0  level_1          Attribute             Recent
0       MSFT        0           address1  One Microsoft Way
1       MSFT        1               city            Redmond
2       MSFT        2              state                 WA
3       MSFT        3                zip         98052-6399
4       MSFT        4            country      United States
...      ...      ...                ...                ...
6128    VRNS      119       grossMargins            0.85829
6129    VRNS      120      ebitdaMargins            -0.2161
6130    VRNS      121   operatingMargins            -0.2423
6131    VRNS      122  financialCurrency                USD
6132    VRNS      123   trailingPegRatio              2.117

[6133 rows x 4 columns]

In [24]:
del combined_data["level_1"] # clean up unnecessary column
combined_data.columns = ["Ticker", "Attribute", "Recent"] # update column names

combined_data

     Ticker          Attribute             Recent
0      MSFT           address1  One Microsoft Way
1      MSFT               city            Redmond
2      MSFT              state                 WA
3      MSFT                zip         98052-6399
4      MSFT            country      United States
...     ...                ...                ...
6128   VRNS       grossMargins            0.85829
6129   VRNS      ebitdaMargins            -0.2161
6130   VRNS   operatingMargins            -0.2423
6131   VRNS  financialCurrency                USD
6132   VRNS   trailingPegRatio              2.117

[6133 rows x 3 columns]

In [25]:
combined_data.to_excel("output2.xlsx")

In [21]:
import yfinance as yf
import pandas as pd

# Define the list of tickers
tickers = ['MSFT',	'ORCL',	'ADBE',	'PANW',	'VMW', 'SNPS',	'FTNT',	'CRWD',	'PLTR',	'SQ',	'SPLK',	'ZS','VRSN',	'NET',	'FLT',	'AKAM',	'CHKP',	'OKTA',	'IOT',	'GDDY',	'GEN',	'DOX',	'DBX', 'TOST', 'NTNX',	'FFIV',	'CFLT',	'PATH',	'HOOD',	'WEX',	'CCCS',	'CYBR',	'SPSC',	'INFA',	'QLYS',	'AFRM',	'ALTR',	'DLO',	'S',	'TENB',	'RELY',	'WIX',	'TDC', 'FOUR',	'HCP',	'SQSP',	'EEFT',	'BOX',	'ESMT',	'VRNS']

# Create an empty list to store the historical data DataFrames
dfs = []

# Fetch the historical data for each ticker
for ticker in tickers:
  data = yf.download(ticker, period="3y")
  data['Ticker'] = ticker # Add a 'Ticker' column to identify the data for each ticker
  data.reset_index(inplace=True) # Reset the index to include the date column as a separate column
  dfs.append(data)

# Concatenate the list of DataFrames into a single DataFrame
df_historical_data = pd.concat(dfs)

# Display the historical data
print(df_historical_data)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
          Date        Open        High         Low       Close   Adj Close  \
0   2020-10-14  223.000000  224.220001  219.130005  220.860001  214.957489
1   2020-10-15  217.100006  220.360001  216.009995  219.660004  213.789551
2   2020-10-16  220.149994  222.289993  219.320007  219.660004  213.789551
3   2020-10-19  220.419998  222.300003  213.720001  214.220001  208.494965
4   2020-10-20  215.800003  217.369995  213.089996  214.649994  208.913437
..         ...         ...         ...         ...         ...         ...
750 2023-10-09   30.549999   30.889999   30.100000   30.760000   30.760000
751 2023-10-10   30.559999   30.959999   30.299999   30.320000   30.320000
752 2023-10-11   30.440001   30.660000   30.129999   30.430000   30.430000
753 2023-10-12   30.459999   30.510000   29.745001   30.040001   30.040001
754 2023-10-13   31.090000   31.090000   30.070000   30.580000   30.580000

       Volume Ticker
0    23421700   MSFT
1    22733100   MSFT
2    26057900   MSFT
3    27625800   MSFT
4    22753500   MSFT
..        ...    ...
750    505700   VRNS
751    742000   VRNS
752    503800   VRNS
753    637100   VRNS
754   1179000   VRNS

[35144 rows x 8 columns]

In [22]:
import yfinance as yf
import pandas as pd
# Define the list of tickers
tickers = ['MSFT', 'ORCL', 'ADBE', 'PANW', 'VMW',	'SNPS',	'FTNT',	'CRWD',	'PLTR',	'SQ',	'SPLK',	'ZS','VRSN', 'NET',	'FLT', 'AKAM', 'CHKP', 'OKTA', 'IOT', 'GDDY',	'GEN', 'DOX',	'DBX', 'TOST', 'NTNX', 'FFIV',	'CFLT',	'PATH',	'HOOD',	'WEX', 'CCCS', 'CYBR', 'SPSC', 'INFA', 'QLYS', 'AFRM', 'ALTR', 'DLO',	'S', 'TENB', 'RELY', 'WIX', 'TDC', 'FOUR', 'HCP',	'SQSP',	'EEFT',	'BOX', 'ESMT', 'VRNS']

# Fetch summary data for all tickers
summary_data = []
for ticker in tickers:
  stock = yf.Ticker(ticker)
  summary_data.append(stock.info)

# Create a DataFrame from the summary data
df_summary = pd.DataFrame(summary_data)

# Display the DataFrame
print(df_summary)

                         address1           city state         zip  \
0               One Microsoft Way        Redmond    WA  98052-6399
1                 2300 Oracle Way         Austin    TX       78741
2                 345 Park Avenue       San Jose    CA  95110-2704
3                3000 Tannery Way    Santa Clara    CA       95054
4            3401 Hillview Avenue      Palo Alto    CA       94304
5       690 East Middlefield Road  Mountain View    CA       94043
6                  899 Kifer Road      Sunnyvale    CA       94086
7             206 East 9th Street         Austin    TX       78701
8                1200 17th Street         Denver    CO       80202
9              1455 Market Street  San Francisco    CA       94103
10             270 Brannan Street  San Francisco    CA       94107
11                 120 Holger Way       San Jose    CA       95134
12             12061 Bluemont Way         Reston    VA       20190
13            101 Townsend Street  San Francisco    CA       94107
14            3280 Peachtree Road        Atlanta    GA       30305
15                   145 Broadway      Cambridge    MA       02142
16         5 Shlomo Kaplan Street       Tel Aviv   NaN     6789159
17               100 First Street  San Francisco    CA       94105
18               1 De Haro Street  San Francisco    CA       94107
19          2155 East GoDaddy Way          Tempe    AZ       85284
20     60 East Rio Salado Parkway          Tempe    AZ       85281
21     625 Maryville Centre Drive    Saint Louis    MO       63141
22              1800 Owens Street  San Francisco    CA       94158
23                 401 Park Drive         Boston    MA       02215
24          1740 Technology Drive       San Jose    CA       95110
25                 801 5th Avenue        Seattle    WA  98104-1663
26         899 West Evelyn Avenue  Mountain View    CA       94041
27                 452 5th Avenue       New York    NY       10018
28                 85 Willow Road     Menlo Park    CA       94025
29               1 Hancock Street       Portland    ME       04101
30            167 N. Green Street        Chicago    IL       60607
31              9 Hapsagot Street    Petah Tikva   NaN     4951040
32       333 South Seventh Street    Minneapolis    MN       55402
33         2100 Seaport Boulevard   Redwood City    CA       94063
34   919 East Hillsdale Boulevard    Foster City    CA       94404
35          650 California Street  San Francisco    CA       94108
36      1820 East Big Beaver Road           Troy    MI       48083
37         Dr. Luis Bonavita 1294     Montevideo   NaN       11300
38              444 Castro Street  Mountain View    CA       94041
39        6100 Merriweather Drive       Columbia    MD       21044
40               111 Third Avenue        Seattle    WA       98101
41                       40 Namal       Tel Aviv   NaN     6350671
42            17095 Via Del Campo      San Diego    CA       92127
43       2202 North Irving Street      Allentown    PA       18109
44              101 Second Street  San Francisco    CA       94105
45              225 Varick Street       New York    NY       10014
46   11400 Tomahawk Creek Parkway        Leawood    KS       66211
47           900 Jefferson Avenue   Redwood City    CA       94063
48  30 Braintree Hill Office Park      Braintree    MA       02184
49                  1250 Broadway       New York    NY       10001

          country           phone                           website  \
0   United States    425 882 8080         https://www.microsoft.com
1   United States    737-867-1000            https://www.oracle.com
2   United States    408 536 6000             https://www.adobe.com
3   United States    408 753 4000  https://www.paloaltonetworks.com
4   United States    650 427 5000            https://www.vmware.com
5   United States    650 584 5000          https://www.synopsys.com
6   United States    408 235 7700          https://www.fortinet.com
7   United States    888 512 8906       https://www.crowdstrike.com
8   United States    720 358 3679          https://www.palantir.com
9   United States    415 375 3176             https://www.block.xyz
10  United States    415 848 8400            https://www.splunk.com
11  United States    408 533 0288           https://www.zscaler.com
12  United States    703 948 3200          https://www.verisign.com
13  United States    888 993 5273        https://www.cloudflare.com
14  United States    770 449 0479          https://www.fleetcor.com
15  United States    617 444 3000            https://www.akamai.com
16         Israel  972 3 753 4555        https://www.checkpoint.com
17  United States    888 722 7871              https://www.okta.com
18  United States    415 985 2400           https://www.samsara.com
19  United States    480 505 8800           https://www.godaddy.com
20  United States    650 527 8000        https://www.gendigital.com
21  United States    314 212 7000            https://www.amdocs.com
22  United States    415 857 6800           https://www.dropbox.com
23  United States    617 297 1005      https://www.pos.toasttab.com
24  United States    408 216 8360           https://www.nutanix.com
25  United States    206 272 5555                https://www.f5.com
26  United States    800 439 3207          https://www.confluent.io
27  United States    844 432 0455            https://www.uipath.com
28  United States    844 428 5411             https://robinhood.com
29  United States    207 773 8171            https://www.wexinc.com
30  United States    800 621 8070             https://www.cccis.com
31         Israel  972 3 918 0000          https://www.cyberark.com
32  United States    612 435 9400       https://www.spscommerce.com
33  United States    650 385 5000       https://www.informatica.com
34  United States    650 801 6100            https://www.qualys.com
35  United States    415 960 1518            https://www.affirm.com
36  United States    248 614 2400            https://www.altair.com
37        Uruguay    424 392 7437            https://www.dlocal.com
38  United States    855 868 3733       https://www.sentinelone.com
39  United States    410 872 0555           https://www.tenable.com
40  United States    888 736 4859           https://www.remitly.com
41         Israel  972 3 545 4900               https://www.wix.com
42  United States    866 548 8348          https://www.teradata.com
43  United States    888 276 2108            https://www.shift4.com
44  United States    415 301 3227         https://www.hashicorp.com
45  United States    646 580 3456       https://www.squarespace.com
46  United States    913 327 4200  https://www.euronetworldwide.com
47  United States    877 729 4269               https://www.box.com
48  United States    781 848 3733       https://www.engagesmart.com
49  United States    877 292 8767           https://www.varonis.com

                     industry              industryKey  \
0   Software - Infrastructure  software-infrastructure
1   Software - Infrastructure  software-infrastructure
2   Software - Infrastructure  software-infrastructure
3   Software - Infrastructure  software-infrastructure
4   Software - Infrastructure  software-infrastructure
5   Software - Infrastructure  software-infrastructure
6   Software - Infrastructure  software-infrastructure
7   Software - Infrastructure  software-infrastructure
8   Software - Infrastructure  software-infrastructure
9   Software - Infrastructure  software-infrastructure
10  Software - Infrastructure  software-infrastructure
11  Software - Infrastructure  software-infrastructure
12  Software - Infrastructure  software-infrastructure
13  Software - Infrastructure  software-infrastructure
14  Software - Infrastructure  software-infrastructure
15  Software - Infrastructure  software-infrastructure
16  Software - Infrastructure  software-infrastructure
17  Software - Infrastructure  software-infrastructure
18  Software - Infrastructure  software-infrastructure
19  Software - Infrastructure  software-infrastructure
20  Software - Infrastructure  software-infrastructure
21  Software - Infrastructure  software-infrastructure
22  Software - Infrastructure  software-infrastructure
23  Software - Infrastructure  software-infrastructure
24  Software - Infrastructure  software-infrastructure
25  Software - Infrastructure  software-infrastructure
26  Software - Infrastructure  software-infrastructure
27  Software - Infrastructure  software-infrastructure
28  Software - Infrastructure  software-infrastructure
29  Software - Infrastructure  software-infrastructure
30  Software - Infrastructure  software-infrastructure
31  Software - Infrastructure  software-infrastructure
32  Software - Infrastructure  software-infrastructure
33  Software - Infrastructure  software-infrastructure
34  Software - Infrastructure  software-infrastructure
35  Software - Infrastructure  software-infrastructure
36  Software - Infrastructure  software-infrastructure
37  Software - Infrastructure  software-infrastructure
38  Software - Infrastructure  software-infrastructure
39  Software - Infrastructure  software-infrastructure
40  Software - Infrastructure  software-infrastructure
41  Software - Infrastructure  software-infrastructure
42  Software - Infrastructure  software-infrastructure
43  Software - Infrastructure  software-infrastructure
44  Software - Infrastructure  software-infrastructure
45  Software - Infrastructure  software-infrastructure
46  Software - Infrastructure  software-infrastructure
47  Software - Infrastructure  software-infrastructure
48  Software - Infrastructure  software-infrastructure
49  Software - Infrastructure  software-infrastructure

                 industryDisp  ... earningsGrowth revenueGrowth grossMargins  \
0   Software - Infrastructure  ...          0.202         0.083      0.68920
1   Software - Infrastructure  ...          0.536         0.088      0.72260
2   Software - Infrastructure  ...          0.260         0.103      0.87885
3   Software - Infrastructure  ...         63.726         0.260      0.72294
4   Software - Infrastructure  ...          0.341         0.022      0.81331
5   Software - Infrastructure  ...          0.517         0.192      0.80139
6   Software - Infrastructure  ...          0.571         0.255      0.76263
7   Software - Infrastructure  ...            NaN         0.367      0.74040
8   Software - Infrastructure  ...            NaN         0.128      0.79146
9   Software - Infrastructure  ...            NaN         0.257      0.34947
10  Software - Infrastructure  ...            NaN         0.140      0.78534
11  Software - Infrastructure  ...            NaN         0.431      0.77631
12  Software - Infrastructure  ...          0.162         0.057      0.86277
13  Software - Infrastructure  ...            NaN         0.315      0.75568
14  Software - Infrastructure  ...         -0.045         0.101      0.77520
15  Software - Infrastructure  ...         -0.012         0.036      0.60838
16  Software - Infrastructure  ...          0.250         0.031      0.88085
17  Software - Infrastructure  ...            NaN         0.230      0.72542
18  Software - Infrastructure  ...            NaN         0.428      0.72421
19  Software - Infrastructure  ...         -0.036         0.032      0.63237
20  Software - Infrastructure  ...         -0.121         0.338      0.81381
21  Software - Infrastructure  ...          0.270         0.065      0.35411
22  Software - Infrastructure  ...         -0.256         0.087      0.81031
23  Software - Infrastructure  ...            NaN         0.449      0.20976
24  Software - Infrastructure  ...            NaN         0.282      0.82180
25  Software - Infrastructure  ...          0.080         0.042      0.78626
26  Software - Infrastructure  ...            NaN         0.358      0.67576
27  Software - Infrastructure  ...            NaN         0.186      0.84153
28  Software - Infrastructure  ...            NaN         0.528      0.77818
29  Software - Infrastructure  ...          1.895         0.039      0.73456
30  Software - Infrastructure  ...            NaN         0.098      0.75508
31  Software - Infrastructure  ...            NaN         0.235      0.78459
32  Software - Infrastructure  ...          0.345         0.195      0.65978
33  Software - Infrastructure  ...            NaN         0.011      0.78987
34  Software - Infrastructure  ...          0.418         0.144      0.79524
35  Software - Infrastructure  ...            NaN         0.224      0.63437
36  Software - Infrastructure  ...            NaN         0.064      0.78654
37  Software - Infrastructure  ...          0.500         0.593      0.45690
38  Software - Infrastructure  ...            NaN         0.458      0.67948
39  Software - Infrastructure  ...            NaN         0.187      0.76748
40  Software - Infrastructure  ...            NaN         0.488      0.53045
41  Software - Infrastructure  ...            NaN         0.130      0.64917
42  Software - Infrastructure  ...            NaN         0.074      0.60930
43  Software - Infrastructure  ...          1.311         0.257      0.26095
44  Software - Infrastructure  ...            NaN         0.258      0.81255
45  Software - Infrastructure  ...         -0.940         0.164      0.82264
46  Software - Infrastructure  ...          0.518         0.114      0.40142
47  Software - Infrastructure  ...            NaN         0.063      0.75076
48  Software - Infrastructure  ...         -0.350         0.278      0.76690
49  Software - Infrastructure  ...            NaN         0.036      0.85829

   ebitdaMargins  operatingMargins financialCurrency  trailingPegRatio  \
0        0.48143           0.41081               USD            2.4026
1        0.38680           0.28103               USD            1.2480
2        0.37271           0.34703               USD            2.0370
3        0.08560           0.12978               USD            1.7326
4        0.20505           0.17136               USD            3.3893
5        0.23484           0.22111               USD            2.2151
6        0.25660           0.23482               USD            1.8516
7       -0.02461          -0.05781               USD            1.6026
8       -0.01750           0.01889               USD            1.1316
9       -0.00054          -0.01919               USD            1.3700
10       0.02794          -0.07525               USD            1.2020
11      -0.12105          -0.09734               USD            1.7224
12       0.69627           0.66855               USD            1.9619
13      -0.08452          -0.17400               USD            1.9484
14       0.50184           0.42643               USD               NaN
15       0.29586           0.17257               USD            2.0790
16       0.38929           0.37815               USD            1.6052
17      -0.25666          -0.30315               USD            2.0019
18      -0.33231          -0.34495               USD               NaN
19       0.17134           0.12564               USD            1.1898
20       0.48253           0.41627               USD            0.7146
21       0.18903           0.14783               USD            1.0091
22       0.21486           0.15454               USD            1.4268
23      -0.09946          -0.10307               USD               NaN
24      -0.07537          -0.11107               USD               NaN
25       0.20815           0.22802               USD            0.9043
26      -0.69151          -0.70750               USD               NaN
27      -0.17628          -0.19249               USD            0.8538
28       0.00000          -0.46643               USD               NaN
29       0.32986           0.25382               USD               NaN
30       0.18830           0.06062               USD               NaN
31      -0.20906          -0.23524               USD               NaN
32       0.21211           0.14706               USD               NaN
33       0.12378           0.01579               USD               NaN
34       0.33099           0.27088               USD            1.9172
35      -0.59307          -0.73171               USD               NaN
36       0.01313          -0.05360               USD            4.6306
37       0.29082           0.28533               USD               NaN
38      -0.72280          -0.78661               USD               NaN
39      -0.04245          -0.07564               USD               NaN
40      -0.11891          -0.12506               USD               NaN
41      -0.04437          -0.06112               USD               NaN
42       0.14112           0.07748               USD               NaN
43       0.13001           0.05610               USD               NaN
44      -0.51316          -0.52167               USD               NaN
45       0.11184           0.08342               USD               NaN
46       0.15588           0.11800               USD               NaN
47       0.09763           0.05022               USD            0.7398
48       0.12575           0.06984               USD               NaN
49      -0.21610          -0.24230               USD            2.1170

    grossProfits             fax                 address2
0            NaN             NaN                      NaN
1   3.639000e+10             NaN                      NaN
2   1.544100e+10    408 537 6000                      NaN
3            NaN    408 753 4001                      NaN
4            NaN    650 427 5001                      NaN
5   4.084781e+09             NaN                      NaN
6   3.332500e+09    408 235 7737                      NaN
7   1.640005e+09             NaN               Suite 1400
8   1.497322e+09             NaN                 Floor 15
9   6.062086e+09             NaN                Suite 600
10  2.837713e+09    415 738 5456                      NaN
11  1.255249e+09             NaN                      NaN
12  1.224200e+09             NaN                      NaN
13  7.426310e+08             NaN                      NaN
14  2.662422e+09             NaN               Suite 2400
15  2.237817e+09    617 444 3001                      NaN
16  2.037400e+09             NaN                      NaN
17  1.313000e+09             NaN                Suite 600
18  4.698890e+08             NaN                      NaN
19  2.606800e+09             NaN                      NaN
20           NaN             NaN               Suite 1000
21  1.619150e+09    314 212 7500                Suite 200
22  1.880700e+09             NaN                      NaN
23  5.160000e+08             NaN                Suite 801
24  1.530938e+09             NaN                Suite 150
25  2.156218e+09    206 272 5556                      NaN
26  3.847020e+08             NaN                      NaN
27  8.799570e+08             NaN               22nd Floor
28  9.060000e+08             NaN                      NaN
29  1.726406e+09             NaN                      NaN
30  5.954470e+08             NaN                9th Floor
31  4.656640e+08  972 3 924 0111  Park Ofer B PO Box 3143
32  2.978100e+08    612 435 9401               Suite 1000
33  1.196969e+09    650 385 5500                      NaN
34  3.869350e+08    650 801 6101                4th Floor
35  1.007364e+09             NaN                      NaN
36  4.493320e+08             NaN                      NaN
37           NaN             NaN                      NaN
38  2.780020e+08             NaN                Suite 400
39  5.284020e+08             NaN                      NaN
40  3.266270e+08             NaN               Suite 2100
41           NaN             NaN                      NaN
42  1.089000e+09             NaN                      NaN
43  4.702000e+08             NaN                      NaN
44  3.889200e+08             NaN                Suite 700
45  7.143170e+08             NaN               12th Floor

In [23]:
import yfinance as yf
import pandas as pd

# Define the list of tickers
tickers = ['MSFT', 'ORCL', 'ADBE', 'PANW', 'VMW',	'SNPS',	'FTNT',	'CRWD',	'PLTR',	'SQ',	'SPLK',	'ZS','VRSN', 'NET',	'FLT', 'AKAM', 'CHKP', 'OKTA', 'IOT', 'GDDY',	'GEN', 'DOX',	'DBX', 'TOST', 'NTNX', 'FFIV',	'CFLT',	'PATH',	'HOOD',	'WEX', 'CCCS', 'CYBR', 'SPSC', 'INFA', 'QLYS', 'AFRM', 'ALTR', 'DLO',	'S', 'TENB', 'RELY', 'WIX', 'TDC', 'FOUR', 'HCP',	'SQSP',	'EEFT',	'BOX', 'ESMT', 'VRNS']

# Create empty lists to store the data
balance_sheet_data = []
income_statement_data = []
cash_flow_data = []

# Fetch the financial data for each ticker
for ticker in tickers:
  stock = yf.Ticker(ticker)

# Fetch balance sheet data
  balance_sheet = stock.balance_sheet.T
  balance_sheet['Ticker'] = ticker
  balance_sheet_data.append(balance_sheet)

# Fetch income statement data
  income_statement = stock.financials.T
  income_statement['Ticker'] = ticker
  income_statement_data.append(income_statement)

# Fetch cash flow data
  cash_flow = stock.cashflow.T
  cash_flow['Ticker'] = ticker
  cash_flow_data.append(cash_flow)

# Concatenate the data into DataFrames
  df_balance_sheets = pd.concat(balance_sheet_data).reset_index()
  df_income_statements = pd.concat(income_statement_data).reset_index()
  df_cash_flows = pd.concat(cash_flow_data).reset_index()

# Display the DataFrames
print("Balance Sheets:")
print(df_balance_sheets)
print("\nIncome Statements:")
print(df_income_statements)
print("\nCash Flows:")
print(df_cash_flows)

Balance Sheets:
         index Ordinary Shares Number  Share Issued       Net Debt  \
0   2023-06-30           7432000000.0  7432000000.0  12533000000.0
1   2022-06-30           7464000000.0  7464000000.0  35850000000.0
2   2021-06-30           7519000000.0  7519000000.0  43922000000.0
3   2020-06-30           7571000000.0  7571000000.0  49751000000.0
4   2023-05-31           2713000000.0  2713000000.0  80716000000.0
..         ...                    ...           ...            ...
192 2019-12-31            160956530.0   160956530.0     74649000.0
193 2022-12-31            107673052.0   107673052.0            NaN
194 2021-12-31            107509096.0   107509096.0            NaN
195 2020-12-31             95456862.0    95456862.0            NaN
196 2019-12-31             91749933.0    91749933.0            NaN

        Total Debt Tangible Book Value Invested Capital Working Capital  \
0    59965000000.0      128971000000.0   253460000000.0   80108000000.0
1    61270000000.0       87720000000.0   216323000000.0   74602000000.0
2    67775000000.0       84477000000.0   200134000000.0   95749000000.0
3    70998000000.0       67915000000.0   181631000000.0  109605000000.0
4    90481000000.0      -70542000000.0    90481000000.0   -2086000000.0
..             ...                 ...              ...             ...
192     80833000.0         -82122000.0      510549000.0       1749000.0
193    306590000.0         476202000.0      751088000.0     676914000.0
194    294024000.0         569145000.0      821923000.0     747436000.0
195    273000000.0          65090000.0      312531000.0     237212000.0
196     57040000.0          93532000.0       93532000.0      48978000.0

    Net Tangible Assets Capital Lease Obligations  ... Current Provisions  \
0        128971000000.0             12728000000.0  ...                NaN
1         87720000000.0             11489000000.0  ...                NaN
2         84477000000.0              9629000000.0  ...                NaN
3         67915000000.0              7671000000.0  ...                NaN
4        -70542000000.0                       NaN  ...                NaN
..                  ...                       ...  ...                ...
192         -82122000.0                       NaN  ...                NaN
193         476202000.0                57627000.0  ...                NaN
194         569145000.0                68694000.0  ...                NaN
195          65090000.0                54540000.0  ...                NaN
196          93532000.0                57040000.0  ...                NaN

    Dividends Payable Inventories Adjustments Allowances Other Inventories  \
0                 NaN                                NaN               NaN
1                 NaN                                NaN               NaN
2                 NaN                                NaN               NaN
3                 NaN                                NaN               NaN
4                 NaN                                NaN               NaN
..                ...                                ...               ...
192               NaN                                NaN               NaN
193               NaN                                NaN               NaN
194               NaN                                NaN               NaN
195               NaN                                NaN               NaN
196               NaN                                NaN               NaN

    Non Current Accrued Expenses Employee Benefits Financial Assets  \
0                            NaN               NaN              NaN
1                            NaN               NaN              NaN
2                            NaN               NaN              NaN
3                            NaN               NaN              NaN
4                            NaN               NaN              NaN
..                           ...               ...              ...
192                          NaN               NaN              NaN
193                          NaN               NaN              NaN
194                          NaN               NaN              NaN
195                          NaN               NaN              NaN
196                          NaN               NaN              NaN

    Notes Receivable  \
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
..               ...
192              NaN
193              NaN
194              NaN
195              NaN
196              NaN

    Non Current Pension And Other Postretirement Benefit Plans  \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
192                                                NaN
193                                                NaN
194                                                NaN
195                                                NaN
196                                                NaN

    Current Deferred Taxes Liabilities
0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                                  NaN
..                                 ...
192                                NaN
193                                NaN
194                                NaN
195                                NaN
196                                NaN

[197 rows x 123 columns]

Income Statements:
         index Tax Effect Of Unusual Items Tax Rate For Calcs  \
0   2023-06-30                         0.0           0.189786
1   2022-06-30                         0.0           0.131134
2   2021-06-30                         0.0           0.138266
3   2020-06-30                         0.0               0.16
4   2023-05-31                 -46240000.0              0.068
..         ...                         ...                ...
192 2020-12-31                   -758862.0              0.282
193 2022-12-31                         0.0                0.4
194 2021-12-31                         0.0               0.27
195 2020-12-31                         0.0               0.27
196 2019-12-31                         0.0               0.27

    Normalized EBITDA Total Unusual Items  \
0      102384000000.0         -15000000.0
1       97843000000.0         334000000.0
2       81602000000.0        1303000000.0
3       65755000000.0          28000000.0
4       19419000000.0        -680000000.0
..                ...                 ...
192        20106000.0          -2691000.0
193      -109052000.0           5147000.0
194       -87806000.0          -1699000.0
195       -68512000.0          -1726000.0
196       -60643000.0          -2225000.0

    Total Unusual Items Excluding Goodwill  \
0                              -15000000.0
1                              334000000.0
2                             1303000000.0
3                               28000000.0
4                             -680000000.0
..                                     ...
192                             -2691000.0
193                              5147000.0
194                             -1699000.0
195                             -1726000.0
196                             -2225000.0

    Net Income From Continuing Operation Net Minority Interest  \
0                                        72361000000.0
1                                        72738000000.0
2                                        61271000000.0
3                                        44281000000.0
4                                         8503000000.0
..                                                 ...
192                                         -6678000.0
193                                       -124518000.0
194                                       -116861000.0
195                                        -94010000.0
196                                        -78764000.0

    Reconciled Depreciation Reconciled Cost Of Revenue          EBITDA  ...  \
0             13861000000.0              65863000000.0  102384000000.0  ...
1             14460000000.0              62650000000.0   97843000000.0  ...
2             11686000000.0              52232000000.0   81602000000.0  ...
3             12796000000.0              46078000000.0   65755000000.0  ...
4              6108000000.0              11038000000.0   18739000000.0  ...
..                      ...                        ...             ...  ...
192              16811000.0                 30172000.0      17415000.0  ...
193              12176000.0                 69836000.0    -109052000.0  ...
194              10888000.0                 59399000.0     -87806000.0  ...
195               9903000.0                 44261000.0     -68512000.0  ...
196              15344000.0                 35144000.0     -60643000.0  ...

    Average Dilution Earnings Gain On Sale Of Ppe  \
0                         NaN                 NaN
1                         NaN                 NaN
2                         NaN                 NaN
3                         NaN                 NaN
4                         NaN                 NaN
..                        ...                 ...
192                       NaN                 NaN
193                       NaN                 NaN
194                       NaN                 NaN
195                       NaN                 NaN
196                       NaN                 NaN

    Provision For Doubtful Accounts Depreciation Income Statement  \
0                               NaN                           NaN
1                               NaN                           NaN
2                               NaN                           NaN
3                               NaN                           NaN
4                               NaN                           NaN
..                              ...                           ...
192                             NaN                           NaN
193                             NaN                           NaN
194                             NaN                           NaN
195                             NaN                           NaN
196                             NaN                           NaN

    Securities Amortization Preferred Stock Dividends  \
0                       NaN                       NaN
1                       NaN                       NaN
2                       NaN                       NaN
3                       NaN                       NaN
4                       NaN                       NaN
..                      ...                       ...
192                     NaN                       NaN
193                     NaN                       NaN
194                     NaN                       NaN
195                     NaN                       NaN
196                     NaN                       NaN

    Impairment Of Capital Assets Net Income Discontinuous Operations  \
0                            NaN                                 NaN
1                            NaN                                 NaN
2                            NaN                                 NaN
3                            NaN                                 NaN
4                            NaN                                 NaN
..                           ...                                 ...
192                          NaN                                 NaN
193                          NaN                                 NaN
194                          NaN                                 NaN
195                          NaN                                 NaN
196                          NaN                                 NaN

    Other Taxes Insurance And Claims
0           NaN                  NaN
1           NaN                  NaN
2           NaN                  NaN
3           NaN                  NaN
4           NaN                  NaN
..          ...                  ...
192         NaN                  NaN
193         NaN                  NaN
194         NaN                  NaN
195         NaN                  NaN
196         NaN                  NaN

[197 rows x 73 columns]

Cash Flows:
         index Free Cash Flow Repurchase Of Capital Stock Repayment Of Debt  \
0   2023-06-30  59475000000.0              -22245000000.0     -2750000000.0
1   2022-06-30  65149000000.0              -32696000000.0     -9023000000.0
2   2021-06-30  56118000000.0              -27385000000.0     -3750000000.0
3   2020-06-30  45234000000.0              -22968000000.0     -5518000000.0
4   2023-05-31   8470000000.0               -2503000000.0    -21050000000.0
..         ...            ...                         ...               ...
192 2020-12-31     14253000.0                         0.0               NaN
193 2022-12-31       475000.0                 -56444000.0               NaN
194 2021-12-31     -3312000.0                         NaN               NaN
195 2020-12-31    -15958000.0                         NaN               NaN
196 2019-12-31    -36075000.0                         NaN               NaN

    Issuance Of Debt Issuance Of Capital Stock Capital Expenditure  \
0                NaN              1866000000.0      -28107000000.0
1                NaN              1841000000.0      -23886000000.0
2                NaN              1693000000.0      -20622000000.0
3                0.0              1343000000.0      -15441000000.0
4      33994000000.0              1192000000.0       -8695000000.0
..               ...                       ...                 ...
192       31250000.0                       0.0          -5392000.0
193              0.0                       0.0         -11396000.0
194              0.0               500034000.0         -10490000.0
195      245308000.0                       NaN         -10116000.0
196              NaN                       NaN         -25392000.0

    End Cash Position Beginning Cash Position Effect Of Exchange Rate Changes  \
0       34704000000.0           13931000000.0                    -194000000.0
1       13931000000.0           14224000000.0                    -141000000.0
2       14224000000.0           13576000000.0                     -29000000.0
3       13576000000.0           11356000000.0                    -201000000.0
4        9765000000.0           21383000000.0                    -209000000.0
..                ...                     ...                             ...
192        29650000.0               6184000.0                             NaN
193       367800000.0             805761000.0                             NaN
194       805761000.0             234092000.0                             NaN
195       234092000.0              68929000.0                             NaN
196        68929000.0              48707000.0                             NaN

     ... Sale Of Intangibles Net Foreign Currency Exchange Gain Loss  \
0    ...                 NaN                                     NaN
1    ...                 NaN                                     NaN
2    ...                 NaN                                     NaN
3    ...                 NaN                                     NaN
4    ...                 NaN                                     NaN
..   ...                 ...                                     ...
192  ...                 NaN                                     NaN
193  ...                 NaN                                     NaN
194  ...                 NaN                                     NaN
195  ...                 NaN                                     NaN
196  ...                 NaN                                     NaN

    Interest Paid Cff Other Cash Adjustment Inside Changein Cash  \
0                 NaN                                        NaN
1                 NaN                                        NaN
2                 NaN                                        NaN
3                 NaN                                        NaN
4                 NaN                                        NaN
..                ...                                        ...
192               NaN                                        NaN
193               NaN                                        NaN
194               NaN                                        NaN
195               NaN                                        NaN
196               NaN                                        NaN

    Other Cash Adjustment Outside Changein Cash Dividends Received Cfi  \
0                                           NaN                    NaN
1                                           NaN                    NaN
2                                           NaN                    NaN
3                                           NaN                    NaN
4                                           NaN                    NaN
..                                          ...                    ...
192                                         NaN                    NaN
193                                         NaN                    NaN
194                                         NaN                    NaN
195                                         NaN                    NaN
196                                         NaN                    NaN

    Change In Interest Payable Interest Received Cfi Taxes Refund Paid  \
0                          NaN                   NaN               NaN
1                          NaN                   NaN               NaN
2                          NaN                   NaN               NaN
3                          NaN                   NaN               NaN
4                          NaN                   NaN               NaN
..                         ...                   ...               ...
192                        NaN                   NaN               NaN
193                        NaN                   NaN               NaN
194                        NaN                   NaN               NaN
195                        NaN                   NaN               NaN
196                        NaN                   NaN               NaN

    Preferred Stock Dividend Paid
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN
..                            ...
192                           NaN
193                           NaN
194                           NaN
195                           NaN
196                           NaN

[197 rows x 93 columns]

In [27]:
import yfinance as yf
import pandas as pd

# Define the list of tickers
tickers = ['MSFT',	'ORCL',	'ADBE',	'PANW',	'VMW', 'SNPS', 'FTNT',	'CRWD',	'PLTR',	'SQ',	'SPLK',	'ZS','VRSN',	'NET',	'FLT',	'AKAM', 'CHKP',	'OKTA',	'IOT',	'GDDY',	'GEN', 'DOX',	'DBX', 'TOST', 'NTNX',	'FFIV',	'CFLT',	'PATH', 'HOOD',	'WEX',	'CCCS',	'CYBR',	'SPSC',	'INFA',	'QLYS',	'AFRM',	'ALTR',	'DLO',	'S',	'TENB',	'RELY',	'WIX',	'TDC', 'FOUR',	'HCP',	'SQSP',	'EEFT',	'BOX',	'ESMT',	'VRNS']

# Create empty DataFrames for balance sheet, income statement, and cash flow
df_balance_sheet_r = pd.DataFrame()
df_income_statement_r = pd.DataFrame()
df_cash_flow_r = pd.DataFrame()
# Fetch the quarterly financial data for each ticker for ticker in tickers:
for ticker in tickers:
  stock = yf.Ticker(ticker)
  balance_sheet = stock.balance_sheet
  income_statement = stock.financials
  cash_flow = stock.cashflow
# Reset the index column name to "Account"
  balance_sheet = balance_sheet.rename_axis("Account").reset_index()
  income_statement = income_statement.rename_axis("Account").reset_index()
  cash_flow = cash_flow.rename_axis("Account").reset_index()
# Add the ticker/symbol column
  balance_sheet['Ticker'] = ticker
  income_statement['Ticker'] = ticker
  cash_flow['Ticker'] = ticker
# Append the data to the respective DataFrames
  df_balance_sheet_r = pd.concat([df_balance_sheet_r, balance_sheet], axis=0)
  df_income_statement_r = pd.concat([df_income_statement_r, income_statement], axis=0)
  df_cash_flow_r = pd.concat([df_cash_flow_r, cash_flow], axis=0)

# Display the DataFrames
print("Balance Sheet Data:")
print(df_balance_sheet_r)
print("\nIncome Statement Data:")
print(df_income_statement_r)
print("\nCash Flow Data:")
print(df_cash_flow_r)

Balance Sheet Data:
                                             Account 2023-06-30 00:00:00  \
0                             Ordinary Shares Number        7432000000.0
1                                       Share Issued        7432000000.0
2                                           Net Debt       12533000000.0
3                                         Total Debt       59965000000.0
4                                Tangible Book Value      128971000000.0
..                                               ...                 ...
56        Allowance For Doubtful Accounts Receivable                 NaN
57                         Gross Accounts Receivable                 NaN
58  Cash Cash Equivalents And Short Term Investments                 NaN
59                      Other Short Term Investments                 NaN
60                         Cash And Cash Equivalents                 NaN

   2022-06-30 00:00:00 2021-06-30 00:00:00 2020-06-30 00:00:00 Ticker  \
0         7464000000.0        7519000000.0        7571000000.0   MSFT
1         7464000000.0        7519000000.0        7571000000.0   MSFT
2        35850000000.0       43922000000.0       49751000000.0   MSFT
3        61270000000.0       67775000000.0       70998000000.0   MSFT
4        87720000000.0       84477000000.0       67915000000.0   MSFT
..                 ...                 ...                 ...    ...
56                 NaN                 NaN                 NaN   VRNS
57                 NaN                 NaN                 NaN   VRNS
58                 NaN                 NaN                 NaN   VRNS
59                 NaN                 NaN                 NaN   VRNS
60                 NaN                 NaN                 NaN   VRNS

   2023-05-31 00:00:00 2022-05-31 00:00:00 2021-05-31 00:00:00  \
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
..                 ...                 ...                 ...
56                 NaN                 NaN                 NaN
57                 NaN                 NaN                 NaN
58                 NaN                 NaN                 NaN
59                 NaN                 NaN                 NaN
60                 NaN                 NaN                 NaN

   2020-05-31 00:00:00  ... 2021-12-31 00:00:00 2020-12-31 00:00:00  \
0                  NaN  ...                 NaN                 NaN
1                  NaN  ...                 NaN                 NaN
2                  NaN  ...                 NaN                 NaN
3                  NaN  ...                 NaN                 NaN
4                  NaN  ...                 NaN                 NaN
..                 ...  ...                 ...                 ...
56                 NaN  ...          -2754000.0          -1250000.0
57                 NaN  ...         119933000.0          95479000.0
58                 NaN  ...         807611000.0         298262000.0
59                 NaN  ...           1850000.0          64170000.0
60                 NaN  ...         805761000.0         234092000.0

   2019-12-31 00:00:00 2023-03-31 00:00:00 2022-03-31 00:00:00  \
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
..                 ...                 ...                 ...
56           -637000.0                 NaN                 NaN
57          75687000.0                 NaN                 NaN
58         120460000.0                 NaN                 NaN
59          51531000.0                 NaN                 NaN
60          68929000.0                 NaN                 NaN

   2021-03-31 00:00:00 2020-03-31 00:00:00 2022-09-30 00:00:00  \
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
..                 ...                 ...                 ...
56                 NaN                 NaN                 NaN
57                 NaN                 NaN                 NaN
58                 NaN                 NaN                 NaN
59                 NaN                 NaN                 NaN
60                 NaN                 NaN                 NaN

   2021-09-30 00:00:00 2020-09-30 00:00:00
0                  NaN                 NaN
1                  NaN                 NaN
2                  NaN                 NaN
3                  NaN                 NaN
4                  NaN                 NaN
..                 ...                 ...
56                 NaN                 NaN
57                 NaN                 NaN
58                 NaN                 NaN
59                 NaN                 NaN
60                 NaN                 NaN

[3478 rows x 37 columns]

Income Statement Data:
                                   Account 2023-06-30 00:00:00  \
0              Tax Effect Of Unusual Items                 0.0
1                       Tax Rate For Calcs            0.189786
2                        Normalized EBITDA      102384000000.0
3                      Total Unusual Items         -15000000.0
4   Total Unusual Items Excluding Goodwill         -15000000.0
..                                     ...                 ...
40                            Other Gand A                 NaN
41                            Gross Profit                 NaN
42                         Cost Of Revenue                 NaN
43                           Total Revenue                 NaN
44                       Operating Revenue                 NaN

   2022-06-30 00:00:00 2021-06-30 00:00:00 2020-06-30 00:00:00 Ticker  \
0                  0.0                 0.0                 0.0   MSFT
1             0.131134            0.138266                0.16   MSFT
2        97843000000.0       81602000000.0       65755000000.0   MSFT
3          334000000.0        1303000000.0          28000000.0   MSFT
4          334000000.0        1303000000.0          28000000.0   MSFT
..                 ...                 ...                 ...    ...
40                 NaN                 NaN                 NaN   VRNS
41                 NaN                 NaN                 NaN   VRNS
42                 NaN                 NaN                 NaN   VRNS
43                 NaN                 NaN                 NaN   VRNS
44                 NaN                 NaN                 NaN   VRNS

   2023-05-31 00:00:00 2022-05-31 00:00:00 2021-05-31 00:00:00  \
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
..                 ...                 ...                 ...
40                 NaN                 NaN                 NaN
41                 NaN                 NaN                 NaN
42                 NaN                 NaN                 NaN
43                 NaN                 NaN                 NaN
44                 NaN                 NaN                 NaN

   2020-05-31 00:00:00  ... 2021-12-31 00:00:00 2020-12-31 00:00:00  \
0                  NaN  ...                 NaN                 NaN
1                  NaN  ...                 NaN                 NaN
2                  NaN  ...                 NaN                 NaN
3                  NaN  ...                 NaN                 NaN
4                  NaN  ...                 NaN                 NaN
..                 ...  ...                 ...                 ...
40                 NaN  ...          61233000.0          47578000.0
41                 NaN  ...         330735000.0         248428000.0
42                 NaN  ...          59399000.0          44261000.0
43                 NaN  ...         390134000.0         292689000.0
44                 NaN  ...         390134000.0         292689000.0

   2019-12-31 00:00:00 2023-03-31 00:00:00 2022-03-31 00:00:00  \
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
..                 ...                 ...                 ...
40          44371000.0                 NaN                 NaN
41         219046000.0                 NaN                 NaN
42          35144000.0                 NaN                 NaN
43         254190000.0                 NaN                 NaN
44         254190000.0                 NaN                 NaN

   2021-03-31 00:00:00 2020-03-31 00:00:00 2022-09-30 00:00:00  \
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
..                 ...                 ...                 ...
40                 NaN                 NaN                 NaN
41                 NaN                 NaN                 NaN
42                 NaN                 NaN                 NaN
43                 NaN                 NaN                 NaN
44                 NaN                 NaN                 NaN

   2021-09-30 00:00:00 2020-09-30 00:00:00
0                  NaN                 NaN
1                  NaN                 NaN
2                  NaN                 NaN
3                  NaN                 NaN
4                  NaN                 NaN
..                 ...                 ...
40                 NaN                 NaN
41                 NaN                 NaN
42                 NaN                 NaN
43                 NaN                 NaN
44                 NaN                 NaN

[2387 rows x 37 columns]

Cash Flow Data:
                                  Account 2023-06-30 00:00:00  \
0                          Free Cash Flow       59475000000.0
1             Repurchase Of Capital Stock      -22245000000.0
2                       Repayment Of Debt       -2750000000.0
3                        Issuance Of Debt                 NaN
4               Issuance Of Capital Stock        1866000000.0
..                                    ...                 ...
50            Amortization Of Intangibles                 NaN
51                           Depreciation                 NaN
52                 Operating Gains Losses                 NaN
53               Gain Loss On Sale Of PPE                 NaN
54  Net Income From Continuing Operations                 NaN

   2022-06-30 00:00:00 2021-06-30 00:00:00 2020-06-30 00:00:00 Ticker  \
0        65149000000.0       56118000000.0       45234000000.0   MSFT
1       -32696000000.0      -27385000000.0      -22968000000.0   MSFT
2        -9023000000.0       -3750000000.0       -5518000000.0   MSFT
3                  NaN                 NaN                 0.0   MSFT
4         1841000000.0        1693000000.0        1343000000.0   MSFT
..                 ...                 ...                 ...    ...
50                 NaN                 NaN                 NaN   VRNS
51                 NaN                 NaN                 NaN   VRNS
52                 NaN                 NaN                 NaN   VRNS
53                 NaN                 NaN                 NaN   VRNS
54                 NaN                 NaN                 NaN   VRNS

   2023-05-31 00:00:00 2022-05-31 00:00:00 2021-05-31 00:00:00  \
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
..                 ...                 ...                 ...
50                 NaN                 NaN                 NaN
51                 NaN                 NaN                 NaN
52                 NaN                 NaN                 NaN
53                 NaN                 NaN                 NaN
54                 NaN                 NaN                 NaN

   2020-05-31 00:00:00  ... 2021-12-31 00:00:00 2020-12-31 00:00:00  \
0                  NaN  ...                 NaN                 NaN
1                  NaN  ...                 NaN                 NaN
2                  NaN  ...                 NaN                 NaN
3                  NaN  ...                 NaN                 NaN
4                  NaN  ...                 NaN                 NaN
..                 ...  ...                 ...                 ...
50                 NaN  ...                 NaN                 NaN
51                 NaN  ...                 NaN           9903000.0
52                 NaN  ...                 NaN                 NaN
53                 NaN  ...                 0.0                 0.0
54                 NaN  ...        -116861000.0         -94010000.0

   2019-12-31 00:00:00 2023-03-31 00:00:00 2022-03-31 00:00:00  \
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
..                 ...                 ...                 ...
50                 NaN                 NaN                 NaN
51          15344000.0                 NaN                 NaN
52             45000.0                 NaN                 NaN
53             45000.0                 NaN                 NaN
54         -78764000.0                 NaN                 NaN

   2021-03-31 00:00:00 2020-03-31 00:00:00 2022-09-30 00:00:00  \
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN
..                 ...                 ...                 ...
50                 NaN                 NaN                 NaN
51                 NaN                 NaN                 NaN
52                 NaN                 NaN                 NaN
53                 NaN                 NaN                 NaN
54                 NaN                 NaN                 NaN

   2021-09-30 00:00:00 2020-09-30 00:00:00
0                  NaN                 NaN
1                  NaN                 NaN
2                  NaN                 NaN
3                  NaN                 NaN
4                  NaN                 NaN
..                 ...                 ...
50                 NaN                 NaN
51                 NaN                 NaN
52                 NaN                 NaN
53                 NaN                 NaN
54                 NaN                 NaN

[2819 rows x 37 columns]

In [28]:
df_balance_sheets.to_excel("df_balance_sheets.xlsx")

df_income_statements.to_excel("df_income_statements.xlsx")

df_cash_flows.to_excel("df_cash_flows.xlsx")

df_balance_sheet_r.to_excel("df_balance_sheet_r.xlsx")

df_income_statement_r.to_excel("df_income_statement_r.xlsx")

df_cash_flow_r.to_excel("df_cash_flow_r.xlsx")

df_historical_data.to_excel("df_historical_data.xlsx")

df_summary.to_excel("df_summary.xlsx")